.tea-card{
  border: 1px solid $mainColor;
  border-radius: 10px;
  width: 800px;
  min-height: 32px;
  display: flex;
  padding: 10px 20px;
  
  &.gray{
    border-color: #d9d9d9;
  }

  .left-icon{

  }

  .x-icon{
    color: $mainColor;
    display: flex;
    width: 32px;
    height: 32px;
    border: 1px solid $mainColor;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    align-self: center;
  }

  .x-list{
    margin-left: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .x-item{
    color: $mainColor;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .x-right{
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    .el-button{
      height: 24px;
      border-color: $mainColor;
      line-height: 24px;
      padding: 0 20px;
      color: $mainColor;
      font-size: 13px;
      margin-bottom: 5px;

      &.gray{
        color: #9c9c9c;
        border-color: #c9c9c9;
      }
    }
  }

  .x-only-btn{
    height: 28px;
    border-color: $mainColor;
    line-height: 28px;
    padding: 0 20px;
    color: $mainColor;
    font-size: 14px;
  }
}